{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}

<!-- Page Loader -->
<div class="page-loader-wrapper">
        <div class="loader">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
        </div>
    </div>
    
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    
    <div id="wrapper">
    
        <nav class="navbar top-navbar">
            <div class="container-fluid">
    
                <div class="navbar-left">
                    <div class="navbar-btn">
                        <a href="/"><img src="/images/icon.svg" alt="Hive Logo" class="img-fluid logo"></a>
                        <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="p_social"><a href="page-social.html" class="social icon-menu" title="News">Social</a></li>
                        <li class="p_news"><a href="page-news.html" class="news icon-menu" title="News">News</a></li>
                        <li class="p_blog"><a href="page-blog.html" class="blog icon-menu" title="Blog">Blog</a></li>
                    </ul>
                </div>
                
                <div class="navbar-right">
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="javascript:void(0);" class="search_toggle icon-menu" title="Search Result"><i class="icon-magnifier"></i></a></li>                        
                            <li><a href="javascript:void(0);" class="right_toggle icon-menu" title="Right Menu"><i class="icon-bubbles"></i><span class="notification-dot bg-pink">2</span></a></li>
                            <li><a href="/login" class="icon-menu"><i class="icon-user"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="progress-container"><div class="progress-bar" id="myBar"></div></div>
        </nav>
    
        
        <div class="search_div">
            <div class="card">
                <div class="body">
                    <form id="navbar-search" class="navbar-form search-form">
                        <div class="input-group mb-0">
                            <input type="text" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="icon-magnifier"></i></span>
                                <a href="javascript:void(0);" class="search_toggle btn btn-danger"><i class="icon-close"></i></a>
                            </div>
                        </div>
                    </form>
                </div>            
            </div>
            <span>Search Result <small class="float-right text-muted">About 90 results (0.47 seconds)</small></span>
            <div class="table-responsive">
                <table class="table table-hover table-custom spacing5">
                    <tbody>
                        <tr>
                            <td class="w40">
                                <span>01</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avtar-pic w35 bg-red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Avatar Name"><span>SS</span></div>
                                    <div class="ml-3">
                                        <a href="page-invoices-detail.html" title="">South Shyanne</a>
                                        <p class="mb-0">south.shyanne@example.com</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>02</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 h35 rounded" data-original-title="Avatar Name">
                                    <div class="ml-3">
                                        <a href="javascript:void(0);" title="">Zoe Baker</a>
                                        <p class="mb-0">zoe.baker@example.com</p>
                                    </div>
                                </div>                                        
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>03</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                        <div class="avtar-pic w35 bg-indigo" data-toggle="tooltip" data-placement="top" title="" data-original-title="Avatar Name"><span>CB</span></div>
                                    <div class="ml-3">
                                        <a href="javascript:void(0);" title="">Colin Brown</a>
                                        <p class="mb-0">colinbrown@example.com</p>
                                    </div>
                                </div>                                        
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>04</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="avtar-pic w35 bg-green" data-toggle="tooltip" data-placement="top" title="" data-original-title="Avatar Name"><span>KG</span></div>
                                    <div class="ml-3">
                                        <a href="javascript:void(0);" title="">Kevin Gill</a>
                                        <p class="mb-0">kevin.gill@example.com</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>05</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/xs/avatar5.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 h35 rounded" data-original-title="Avatar Name">
                                    <div class="ml-3">
                                        <a href="javascript:void(0);" title="">Brandon Smith</a>
                                        <p class="mb-0">Maria.gill@example.com</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>06</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/xs/avatar6.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 h35 rounded" data-original-title="Avatar Name">
                                    <div class="ml-3">
                                        <a href="javascript:void(0);" title="">Kevin Baker</a>
                                        <p class="mb-0">kevin.baker@example.com</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>07</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 h35 rounded" data-original-title="Avatar Name">
                                    <div class="ml-3">
                                        <a href="javascript:void(0);" title="">Zoe Baker</a>
                                        <p class="mb-0">zoe.baker@example.com</p>
                                    </div>
                                </div>                                        
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div id="left-sidebar" class="sidebar">
            <div class="navbar-brand">
                <a href="index"><img src="/images/icon.svg" alt="Hive Logo" class="img-fluid logo"><span>Hive</span></a>
                <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
            </div>
            <div class="sidebar-scroll">
                <div class="user-account">
                    <div class="user_div">
                        <img src="/images/user.png" class="user-photo" alt="User Profile Picture">
                    </div>
                    <!-- // USER PROFILE -->
                    <div class="dropdown">
                        <span>Welcome,</span>
                        <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>{{ current_user.username }}</strong></a>
                        <ul class="dropdown-menu dropdown-menu-right account vivify flipInY">
                            <li><a href="#"><i class="icon-user"></i>Profile</a></li>
                            <li><a href="#"><i class="icon-envelope-open"></i>Messages</a></li>
                            <li><a href="#"><i class="icon-settings"></i>Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="icon-logout"></i>Logout</a></li>
                        </ul>
                    </div>                
                </div>  
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu icon-container">
                        <li class="header">Main</li>
                        <li class="active"><a href="/"><i class="icon-speedometer icon"></i><span>Dashboard</span></a></li>
                        <li><a href="#"><i class="icon-layers icon"></i><span>Stacks</span></a></li>
                        <li><a href="#"><i class="icon-list icon"></i><span>Services</span></a></li>
                        <li><a href="#"><i class="icon-grid icon"></i><span>Tasks</span></a></li>
                        <li><a href="#"><i class="icon-basket icon"></i><span>Catalog</span></a></li>
                        <li><a href="#"><i class="ti-pulse"></i><span>Networks</span></a></li>
                        <li><a href="#"><i class="ti-server"></i><span>Volumes</span></a></li>
                        <li><a href="#"><i class="ti-harddrives"></i><span>Nodes</span></a></li>
                        <li><a href="#"><i class="icon-lock"></i><span>Secrets</span></a></li>
                        <li><a href="#"><i class="ti-write"></i><span>Configs</span></a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-doc"></i><span>Documentation</span></a></li>
                    </ul>
                </nav>     
            </div>
        </div>
    
        <div id="main-content">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-12">
                            <h1>Web Analytics</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Oculux</a></li>
                                <li class="breadcrumb-item"><a href="#">My page</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Web Analytics</li>
                                </ol>
                            </nav>
                        </div>            
                        <div class="col-md-6 col-sm-12 text-right hidden-xs">
                            <a class="p-1 text-green mr-3" href="#"><i class="fa fa-save mr-1"></i> Save Report</a>
                            <a class="p-1 text-red mr-3" href="#"><i class="fa fa-file-pdf-o mr-1"></i> Export to PDF</a>
                            <a class="p-1 text-blue" href="#"><i class="fa fa-envelope mr-1"></i>Send to Email</a>
                        </div>
                    </div>
                </div>
    
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="body w_summary">
                                <div class="c_know mt-1 mr-3">
                                    <input type="text" class="knob" value="34" data-width="45" data-height="45" data-thickness="0.07" data-bgColor="#383b40" data-fgColor="#9367B4">
                                </div>
                                <div class="s_detail">
                                    <h4 class="mb-0">34.80%</h4>
                                    <span>% New Sessions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="body w_summary">
                                <div class="s_chart">
                                    <span class="chart">3,5,1,6,2,4,8,5,3,2</span>
                                </div>
                                <div class="s_detail">
                                    <h4 class="mb-0">23.15%</h4>
                                    <span>Bounce Rate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="body w_summary">
                                <div class="c_know mt-1 mr-3">
                                    <input type="text" class="knob" value="57" data-width="45" data-height="45" data-thickness="0.07" data-bgColor="#383b40" data-fgColor="#9367B4">
                                </div>
                                <div class="s_detail">
                                    <h4 class="mb-0">1258</h4>
                                    <span>Pages/Session</span>
                                </div>
                            </div>
                        </div>
                    </div>                
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="body w_summary">
                                <div class="s_chart">
                                    <span class="chart">8,5,2,9,6,3,4,5,6,7</span>
                                </div>
                                <div class="s_detail">
                                    <h4 class="mb-0">1025</h2>
                                    <span>Sessions</span>
                                </div>
                            </div>
                        </div>
                    </div>                            
                </div>
    
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6 class="mb-0">Audience Metrics</h6>                                    
                                    </div>
                                    <ul class="nav nav-tabs2">
                                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#today">Today</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#t-week">Week</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#t-month">Month</a></li>
                                    </ul>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <small>Audience It is a long established fact that a reader will be distracted</small>
                                        <div class="d-flex justify-content-start mt-3">
                                            <div class="mr-5">
                                                <label class="mb-0">Users</label>
                                                <h4>9,231</h4>
                                            </div>
                                            <div>
                                                <label class="mb-0">Sessions</label>
                                                <h4>10,850</h4>
                                            </div>
                                        </div>
                                        <div id="chart-donut" style="height: 250px"></div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12">
                                        <div id="flotChart" class="flot-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row clearfix">
                    <div class="col-xl-3 col-lg-4 col-md-">
                        <div class="card">
                            <div class="body">
                                <h6 class="mb-4 font300">Page Impressions</h6>
                                <h3 class="mb-0 mt-3 font300">24,301 <span class="text-green font-15">+3.7%</span></h3>
                                <small>The total number of Page Impressions within the date range</small>
                                <div id="chart-bar-stacked" style="height: 280px"></div>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="body">                            
                                <h6 class="mb-4 font300">Sessions by Channel</h6>                            
                                <div class="d-flex justify-content-start">
                                    <div class="mr-4">
                                        <h3 class="mb-0 mt-3 font300">3,095</h3>
                                        <small>Organic Search</small>
                                    </div>
                                    <div class="mr-4">
                                        <h3 class="mb-0 mt-3 font300">2,763</h3>
                                        <small>Referral</small>
                                    </div>
                                    <div>
                                        <h3 class="mb-0 mt-3 font300">763</h3>
                                        <small>Other</small>
                                    </div>
                                </div>
                                <div id="chart-area-spline-sracked" style="height: 285px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card w_card3">
                            <div class="body">
                                <div class="text-center"><i class="icon-picture text-info"></i>
                                    <h4 class="m-t-25 mb-0">104 Picture</h4>
                                    <p>Your gallery download complete</p>
                                    <a href="javascript:void(0);" class="btn btn-info btn-round">Download now</a>
                                </div>
                            </div>
                        </div>
                        <div class="card w_card3">
                            <div class="body">
                                <div class="text-center"><i class="icon-social-twitter text-primary"></i>
                                    <h4 class="m-t-25 mb-0">3,756</h4>
                                    <p>New Followers on Twitter</p>
                                    <a href="javascript:void(0);" class="btn btn-primary btn-round">Find more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2>Visitor's Locations</h2>
                                <ul class="header-dropdown dropdown">                                
                                    <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another Action</a></li>
                                            <li><a href="javascript:void(0);">Something else</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-12">
                                        <ul class="nav nav-tabs3">
                                            <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#TODAY">TODAY</a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#THIS-WEEK">WEEK</a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#THIS-MONTH">MONTH</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active show" id="TODAY">
                                                <div class="big-text">
                                                    <h2>831</h2>
                                                </div>
                                                <span>VISITORS OPERATING SYSTEM</span>
                                                <hr>                                
                                                <div class="form-group mb-4">
                                                    <label class="d-block">macOS <span class="float-right">77% <i class="fa fa-long-arrow-up"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-azura" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label class="d-block">Windows <span class="float-right">50% <i class="fa fa-long-arrow-up"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label class="d-block">Linux <span class="float-right">23% <i class="fa fa-long-arrow-up"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-0">
                                                    <label class="d-block">Ubuntu <span class="float-right">78% <i class="fa fa-long-arrow-up"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-indigo" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="THIS-WEEK">
                                                <div class="big-text">
                                                    <h2>1,580</h2>
                                                </div>
                                                <span>VISITORS OPERATING SYSTEM</span>
                                                <hr>                                
                                                <div class="form-group mb-4">
                                                    <label class="d-block">macOS <span class="float-right">62% <i class="fa fa-long-arrow-down"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-azura" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label class="d-block">Windows <span class="float-right">50% <i class="fa fa-long-arrow-up"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label class="d-block">Linux <span class="float-right">42% <i class="fa fa-long-arrow-up"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width: 42%;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-0">
                                                    <label class="d-block">Ubuntu <span class="float-right">78% <i class="fa fa-long-arrow-up"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-indigo" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="THIS-MONTH">
                                                <div class="big-text">
                                                    <h2>4,305</h2>
                                                </div>
                                                <span>VISITORS OPERATING SYSTEM</span>
                                                <hr>                                
                                                <div class="form-group mb-4">
                                                    <label class="d-block">macOS <span class="float-right">77% <i class="fa fa-long-arrow-up"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-azura" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label class="d-block">Windows <span class="float-right">62% <i class="fa fa-long-arrow-up"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label class="d-block">Linux <span class="float-right">11% <i class="fa fa-long-arrow-down"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" style="width: 11%;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-0">
                                                    <label class="d-block">Ubuntu <span class="float-right">31% <i class="fa fa-long-arrow-down"></i></span></label>
                                                    <div class="progress progress-xxs">
                                                        <div class="progress-bar bg-indigo" role="progressbar" aria-valuenow="31" aria-valuemin="0" aria-valuemax="100" style="width: 31%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-12">
                                        <div id="world-map-markers" class="v_locations jvector-map main-map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <!-- Javascript -->
    <script src="bundles/libscripts.bundle.js"></script>
    <script src="bundles/vendorscripts.bundle.js"></script>
    
    <script src="bundles/knob.bundle.js"></script><!-- Jquery Knob-->
    <script src="bundles/c3.bundle.js"></script>
    <script src="bundles/flotscripts.bundle.js"></script><!-- flot charts Plugin Js --> 
    <script src="bundles/jvectormap.bundle.js"></script><!-- JVectorMap Plugin Js -->
    
    <script src="bundles/mainscripts.bundle.js"></script>
    <script src="js/index4.js"></script>
{% endblock %}