{% extends "layouts/base-fullscreen.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='/js/login.min.js') }}"></script>
{% endblock %}
{% block body %}
    {{ super() }}
    
    <div class="auth-main">
        <video autoplay muted id="login-background" loop=true>
            <source src="https://gabereiser.github.io/hive-cdn/galaxy.mp4" type="video/mp4">
        </video>
        <div class="auth_div">
            <div class="card">
                <div class="body">
                    {% with messages = get_flashed_messages(category_filter=["error"]) %}
                      {% if messages %}
                        <div class="flashes bg-danger">
                          {% for message in messages %}
                            <div class="text-white">{{ message }}</div>
                          {% endfor %}
                        </div>
                        {% endif %}
                      {% endwith %}
                    <p class="lead">Login to your account</p>
                    <form class="form-auth-small m-t-20" id="loginForm" onsubmit="event.preventDefault(); Login().loginHandler(this);" method='POST'>
                        <div class="form-group">
                            <label for="signin-username" class="control-label sr-only">Username</label>
                            <input type="text" name="username" class="form-control round" id="signin-username" placeholder="Username" tabindex="0">
                        </div>
                        <div class="form-group">
                            <label for="signin-password" class="control-label sr-only">Password</label>
                            <input type="password" name="password" class="form-control round" id="signin-password" placeholder="Password">
                        </div>
                        <div class="hidden">
                            <label class="fancy-checkbox element-left">
                                <input type="checkbox" name="remember" checked>
                                <span>Remember me</span>
                            </label>								
                        </div>
                        <button type="submit" class="btn btn-success btn-round btn-block">LOGIN</button>
                        
                    </form>
                </div>
            </div>
        </div>
        <div id="particles-js"></div>
    </div>
            
        
{% endblock %}