<div id="left-sidebar" class="sidebar">
    <div class="navbar-brand">
        <a href="index"><img src="/images/icon.svg" alt="Hive Logo" class="img-fluid logo"><span>Hive</span></a>
        <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
    </div>
    <div class="sidebar-scroll">
        <!-- <div class="user-account">
                    <div class="user_div">
                        <img src="/images/user.png" class="user-photo" alt="User Profile Picture">
                    </div>
                     // USER PROFILE
                    <div class="dropdown">
                        <span>Welcome,</span>
                        <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>{{ current_user.username }}</strong></a>
                        <ul class="dropdown-menu dropdown-menu-right account vivify flipInY">
                            <li><a href="#"><i class="icon-user"></i>Profile</a></li>
                            <li><a href="#"><i class="icon-envelope-open"></i>Messages</a></li>
                            <li><a href="#"><i class="icon-settings"></i>Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="icon-logout"></i>Logout</a></li>
                        </ul>
                    </div>
                </div>  -->
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu icon-container">
                <li class="header">Main</li>
                <li class="active"><a href="/"><i class="icon-speedometer icon"></i><span>Dashboard</span></a></li>
                <li><a href="/stacks"><i class="icon-layers icon"></i><span>Stacks</span></a></li>
                <li><a href="/services"><i class="icon-list icon"></i><span>Services</span></a></li>
                <li><a href="/tasks"><i class="icon-grid icon"></i><span>Tasks</span></a></li>
                <li><a href="/catalog"><i class="icon-basket icon"></i><span>Catalog</span></a></li>
                <li><a href="/networks"><i class="ti-pulse"></i><span>Networks</span></a></li>
                <li><a href="/volumes"><i class="ti-server"></i><span>Volumes</span></a></li>
                <li><a href="/nodes"><i class="ti-harddrives"></i><span>Nodes</span></a></li>
                <li><a href="/secrets"><i class="icon-lock"></i><span>Secrets</span></a></li>
                <li><a href="/configurations"><i class="ti-write"></i><span>Configs</span></a></li>
                <li class="divider"><span class="divider"></span></li>
                <li><a href="/help"><i class="icon-doc"></i><span>Documentation</span></a></li>
            </ul>
        </nav>
    </div>
</div>